.main-header {
  width: 100%;
  min-height: 4rem;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: var(--main-text-color);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 1rem;
  z-index: 10;
}

main {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}
